
<br>
<br>
<br>
<h1 style='text-align: center; color:gray;'><%= @user.name.capitalize %>'s Favorites </h1>

<ul class="hoverbox">
  <li class="li-first">
    <% @shows.each do |show| %>
    <a href="<%= show_path(show)%>"><img src="<%= show.image %>"/></a>
    <% end  %>
</ul>
