
   <%= stylesheet_link_tag "welcome", media: "all", "data-turbolinks-track" => true %>  

        <div class="bigImage">
            <div class="container" >
                <a class= "button1" href="<%= login_path %>">Login</a>
                <a class= "button2" href="<%= new_user_path %>">Create Account</a>
            </div>
        </div>

 