/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 
 */
 
body {
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    line-height: auto;
    }
    
    ul {
        margin: 3;
        padding: 0;
        list-style: bold;
        font-size: 15px;
        text-align: center;
    }
    
    
    h1 {
        margin: 5;
        font-family: 'Noto Sans', sans-serif;
        font-size: 28;
    }
    
    h2 {
        font-family: 'Oswald';
        font-size: 25px;
        color: rgb(255, 255, 255)
    }
    
    .container {
        text-align: center;
        width: 5 auto;
        margin:  auto; 
        overflow: hidden;   
    }
    
    #mainHeader {
        height: 0 auto;
        width: 0 auto;
        margin: 0 auto;
        font-family: futura;
        color: rgba(255, 255, 255, 0.719);
        text-align: center;
        resize: horizontal;
        overflow: auto;
    }           
    