.showhead {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}


#leftImage{
    border:10px solid gray;
    left: 100px;
    width: 20%;
    height: 60%;
    position: fixed;
  }

#rightText{
    top: 85px;
    left: 550px;
    width: 55%;
    height: 100%;
    position: fixed;
}

#showText{
    padding: 10px 10px;
    color: rgb(177, 177, 177);
}
