.showhead {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}



#leftImage{
    border:10px solid gray;
    left: 100px;
    width: 24%;
    height: 70%;
    position: fixed;
  }

  #imgCaption{
      color: gray;
    text-align: center;
    left: 100px;
    top: 120px;
    width: 24%;
    height: 60%;
    position: fixed;
  } 

#rightText{
    border:1px solid gray;
    top: 200px;
    right: 100px;
    width: 55%;
    height: 50%;
    position: fixed;
}

#showText{
    padding: 10px 10px;
    color: gray;
}
